* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ede5dc;
}

:root {
    font-size: 1.1rem;
    font-family: "Roboto", sans-serif;
}

.mobile {
    background-color: white;
    margin-top: 0.5rem;
    margin-left: 33rem;
    border-radius: 2rem;
    height: 800px;
    width: 450px;
    overflow-x: hidden;
    box-shadow: 0 0 10px 10px #7e7e88;
    margin-bottom: 10rem;
}

.icon {
    color: white;
}

menu,
nav {
    display: flex;
    justify-content: space-between;
}

header {
    position: relative;
    color: white;
}

nav {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
}

menu {
    height: 2.5rem;
    transform: translateY(-50%);
    padding: 0 1.5rem;
    align-items: flex-end;
}

.icons {
    color: black;
}

.play-btn {
    background: white;
    color: red;
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 5px 5px rgba(20, 20, 20, 0.5);
    font-size: 1.2rem;
}

nav img {
    height: 2rem;
}

.img-container {
    filter: drop-shadow(30px 10px 4px #8f929f);
}

.img-container img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    clip-path: ellipse(100% 76% at 50% 24%);
}

.details {
    text-align: center;
}

ul {
    display: flex;
    list-style: none;
}

li span {
    display: block;
    margin-bottom: 0.20rem;
}

.info {
    margin: 0.8rem auto;
    justify-content: center;
}

.info li+li {
    margin-left: 2rem;
}

.details p {
    text-align: center;
}

.screenshots {
    width: 800px;
}

.screenshots img {
    width: 10rem;
    height: 6rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px 1px #999497;
    object-fit: cover;
}

.screenshots li+li {
    margin-left: 0.8rem;
}

section+section {
    margin-top: 1rem;
}

.info .top {
    font-size: 0.7rem;
    color: #959095;
}

.info .down {
    font-size: 0.9rem;
    font-weight: bold;
}

.details p {
    margin-top: 0.8rem;
    color: #959095;
    font-size: 0.8rem;
}

.ratings {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.ratings .col {
    color: #dc3653;
}

.screenshots h2 {
    margin-top: 0.8rem;
}

section {
    padding: 0 1.5rem;
}

.screenshots ul {
    margin-top: 0.8rem;
}